* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
    line-height: 10vh;
    flex-basis: 10vh;
    /* border: 1px solid black */
}

.title h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.game {
    flex-basis: 40vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game span {
    /* border: 1px solid yellowgreen; */
    width: 25%;
    height: 80%;
    background-color: #ccc;
    border-radius: 15px;

}

.buttons {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 30vh;
    /* border: 1px solid blue; */

}

input {
    padding: 5px 10px;
    border-bottom: 20px;
    font-size: 20px;
    /* border: 1px solid orangered; */
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;


}
input[type='button']{
    color:#fff;
    background-color: cadetblue;
    border:none;
    box-sizing: border-box;
}
input[type='button']:hover{
    color:cadetblue;
    background-color: #fff;
    box-shadow: 0px 0px 3px cadetblue;}



input::placeholder {
    text-align: center;
}

.results {
    flex-basis: 10vh;
    padding: 30px 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}